<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sprout Social Challenge</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
</head>
<body>

  <div class="container">
    <h1><a href="/sprout_test/app.html">API+Scraping</a> [ <a href="#/new">Add</a> ]</h1>

  <h3>Assignment</h3>
    <ol>
      <li>&#x2713; Create a CodeIgniter Controller that exposes an endpoint that can be POSTed to and accepts a URL</li>
      <li>&#x2713; The response from that endpoint should be a JSON object that contains the keys: title, description and images. The value of title is a String; the value of description is a String; the value of images is an array of image URLs.</li>
      <li>&#x2713; The maximum number of images should be capped at 10</li>
      <li>&#x2713; The Backbone objects created should be responsible for making the request to the endpoint along with storing and rendering the data.</li>
    </ol>
  <h3>Notes</h3>
  <p>I did not validate the html form, which may cause errors if used incorrectly and would make this work more seamlessly. It would be one of the first things to improve upon. There were certain scraping issues I'm not quite sure about, which may cause empty returns. I've accommodated for description flaws, as you will see I considered three possibilities. I learned quite a bit for this project, thank you.</p>

    <div class="page" style="margin-top: 50px;"></div>
  </div>

  <script type="text/template" id="website-list-template">
    <%
      _.each(websites, function(website) {
      var imgObj = website.get("imagedb");
    %>
    <table class="table striped">
      <tr style="border-top:5px #ccc solid;"><td width="100">Link</td><td align="left"><%= website.get("url") %></td></tr>
      <tr><td>Title</td><td><%= website.get("title") %></td></tr>
      <tr><td>Description</td><td><%= website.get("description") %></td></tr>
      <tr><td>Images</td>
      <td>
          <% for (var i in imgObj) { %>
          <%= imgObj[i] + "<br>" %>
          <% } %>
      </td>
      </tr>
    </table>  
    <% }); %>
  </script>

  <script type="text/template" id="edit-website-template">
    <form class="edit-website-form">
      <legend>Add Website | <a href="/sprout_test/app.html">See All</a></legend>
      <label>Domain (enter url without http prefix)</label>
      <input type="text" name="url">
      <hr>
      <button type="submit" class="btn">Add</button>
    </form>
  </script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
  <script>

    $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
      options.url = 'http://pa3co.com/sprout_test/site' + options.url;
    });

    $.fn.serializeObject = function() {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;
    };

    var Websites = Backbone.Collection.extend({
      url: '/all'
    });

    var Website = Backbone.Model.extend({
      urlRoot: '/info'
    });

    var WebsiteList = Backbone.View.extend({
      el: '.page',
      render: function() {
        var that = this;
        var websites = new Websites();
        websites.fetch({
          success: function(websites){
            var template = _.template($('#website-list-template').html(), {websites: websites.models});
            that.$el.html(template);
          }
        });
        
      }
    });

    var EditWebsite = Backbone.View.extend({
      el: '.page',
      render: function(){
        var template = _.template($('#edit-website-template').html(), {});
        this.$el.html(template);
      },
      events: {
        'submit .edit-website-form': 'saveWebsite',
      },
      saveWebsite: function(ev) {
        var websiteDetails = $(ev.currentTarget).serializeObject();
        var website = new Website();
        website.save(websiteDetails, {
          success: function(website){
            router.navigate('', {trigger: true});
          }
        });
        return false;
      }
    });

    var Router = Backbone.Router.extend({
      routes: {
        '': 'home',
        'new': 'editWebsite'
      }
    });

    var websiteList = new WebsiteList();
    var editWebsite = new EditWebsite();

    var router = new Router();

    router.on('route:home', function(){
      websiteList.render();
    });
    router.on('route:editWebsite', function(){
      editWebsite.render();
    });


    Backbone.history.start();
  </script>
  
</body>
</html>